<section class="page-section bg-light" id="get-involved">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Get Involved</h2>
      <div class="row">

        <!-- Join the Team -->
        <div class="col-lg-5">
          <h4>
            Join the Team
          </h4>
          <br>
          <p class="text-muted">
            We are looking to expand our small team with like-minded motivated individuals, no matter what your
            backgroud is.
            If this is you then please let us know by filling in the form below. We'll be in touch with you as soon as possible!
          </p><br>
          <a class="btn btn-primary btn-xl text-uppercase" href="https://forms.gle/ePxG9hvYUABNX1Bj8"
            target="_blank">Join</a>
        </div>
        <div class="col-lg-2"></div>

        <!-- Become a Volunteer -->
        <div class="col-lg-5">
          <h4>
            Become a Volunteer
          </h4><br>
          <p class="text-muted">
            If on the other hand you would like to register an interest in running a workshop once the platform
            development is
            completed then let us know by filling in the form below. We will get in touch as soon as the platform is
            launched!
          </p><br>
          <a class="btn btn-primary btn-xl text-uppercase" href="https://forms.gle/EX9kAR6KaXKBA4yK8"
            target="_blank">Volunteer</a>
        </div>

      </div>
    </div>
  </div>
</section>