<section class="page-section" id="platform">
  <div class="container">

    <!-- Intro -->
    <div>
      <h2 class="section-heading text-uppercase text-center">
        The Platform
      </h2>
      <p class="text-muted">
        Share is a skill- and knowledge-sharing platform with a difference. Totally transparent, 
        directly democratic, and free to use, Share will enable you to help your community, build 
        your reputation and learn some brand new skills! Built on a commitment to the idea that 
        social exchange has real material value, Share is a social experiment platform that 
        challenges the conventional capitalist business structures. Our team and platform 
        volunteers have no strict working hours, they choose when and how much they want 
        to work, and each have an equal opportunity to contribute to the evolution of the platform. 
        The end goal of this project is to find out whether we can create a community-led platform 
        where participants are happy to be awarded in oxytocin instead of money and have a full, 
        direct and democratic control over their local community budget.
      </p>
    </div>

    <!-- Volunteers -->
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-volunteer"></i>
          <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Volunteers
        </h4>
        <p class="text-muted">
          Volunteers are an integral part of the platform: they're the ones that volunteer their 
          skills and time to the community.
        </p>
        <p class="text-muted">
          As a volunteer, you can:
        </p>
        <ul class="text-muted padded">
          <li>
            <span class="bold">Offer your skills and services:</span> whatever you can do, if 
            people can learn it, you can advertise it here.
          </li>
          <li>
            <span class="bold">Choose when, where, and how much time to volunteer:</span> whether 
            you want to help people in your local community, or offer your help globally, you 
            decide.
          </li>
          <li>
            <span class="bold">Get good feels from helping out</span> which will help to improve 
            the world and how you feel about it.
          </li>
        </ul>
      </div>

      <!-- Users -->
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-user"></i>
          <i class="fas fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Users
        </h4>
        <p class="text-muted">
          Users are the main beneficiaries of the platform: they're the ones receiving the 
          support, knowledge and skills, totally free.
        </p>
        <p class="text-muted">
          As a user you can:
        </p>
        <ul class="text-muted padded">
          <li>
            <span class="bold">Learn new things for free:</span> develop your abilities and 
            connect to a community of likeminded people.
          </li>
          <li>
            <span class="bold">Give feedback:</span> help us to build a totally transparent 
            system by leaving ratings and reviews for volunteers.
          </li>
          <li>
            <span class="bold">Get good feelings from working together:</span> develop the 
            skills to be where you want to be in the world, and feel secure knowing that 
            community members are there to help each other out.
          </li>
        </ul>
      </div>
      
      <!-- Sponsors -->
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-spons"></i>
          <i class="fas fa-hand-holding-dollar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Sponsors
        </h4>
        <p class="text-muted">
          Sponsors are community members and companies that support the work of volunteers 
          through regular monthly donations of as little as £1.
        </p>
        <p class="text-muted">
          As a sponsor you can:
        </p>
        <ul class="text-muted padded">
          <li>
            <span class="bold">Build your brand reputation</span> by visibly participating 
            in a charitable skill sharing platform.
          </li>
          <li>
            <span class="bold">Participate in a transparent, direct-democratic system</span>
            where everyone gets equal influence.
          </li>
          <li>
            <span class="bold">Feel good</span> as you watch your community evolve and grow.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>