<section class="page-section" id="platform">
  <div class="container">

    <!-- Intro -->
    <div>
      <h2 class="section-heading text-uppercase text-center">
        Platform
      </h2>
      <p class="text-muted">
        Share is a totally transparent, direct-democratic skill-sharing platform where you can help your community,
        build your reputation and learn some brand new skills! If you've ever wanted legal advice but not wanted to 
        pay for it, needed therapy but been unable to get an appointment, or just wanted some help with your university 
        project or work presentation, Share is the solution for you! Our win-win-win model promises to return value to 
        Volunteers, Users and Sponsors by transforming work into social capital and creating a Wikipedia-like challenge 
        to the standard economy of exchange. Built on a commitment to the idea that social exchange has real material 
        value, Share is a tool to empower your community, boost your profile and create some real value in the world.
      </p>
    </div>

    <!-- Volunteers -->
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-volunteer"></i>
          <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Volunteers
        </h4>
        <p class="text-muted">
          Volunteers are an integral part of the platform as they are the ones volunteering their skills and time to 
          the community. As a volunteer you can:
        </p>
        <ul class="text-muted">
          <li>
            Offer your skills and services pro gratis to your local community or internationally.
          </li>
          <li>
            Choose when, where, and how much time to volunteer.
          </li>
          <li>
            Get good feels from helping out, which is scientifically guaranteed to improve the world and how you feel
            about it.
          </li>
        </ul>
      </div>

      <!-- Users -->
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-user"></i>
          <i class="fas fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Users
        </h4>
        <p class="text-muted">
          Users are the main beneficiaries of the platform as they are offered a wide range of free support, knowledge
          and skills. As a user you can:
        </p>
        <ul class="text-muted">
          <li>
            Learn new things for free, connecting you to a wide community.
          </li>
          <li>
            Participate in a totally transparent system, leaving ratings and reviews for volunteers.
          </li>
          <li>
            Feel more secure knowing that community members are there to help each other.
          </li>
        </ul>
      </div>
      
      <!-- Sponsors -->
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-spons"></i>
          <i class="fas fa-hand-holding-dollar fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">
          Sponsors
        </h4>
        <p class="text-muted">
          Sponsors are community members and companies that support the work of volunteers through regular monthly
          donations of as little as £1. As a sponsor you will:
        </p>
        <ul class="text-muted">
          <li>
            Feel good for enabling your community to run more complex workshops.
          </li>
          <li>
            Participate in a transparent, direct-democratic system with Equal Influence Model.
          </li>
          <li>
            Determine the way the platform will further evolve to best suit your local community.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>