<section class="page-section" id="roadmap">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        Roadmap
      </h2>
      <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
    </div>
    <ul class="timeline">

      <!-- The Idea was Born -->
      <li>
        <div class="timeline-image"><img class="img-fluid" src="assets/img/roadmap/idea.png" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>
              Q3 2021
            </h4>
            <h4 class="subheading">
              The Idea was Born
            </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The idea was born from a dream of direct democracy. A world where people have more trust in each other and
              feel more in control
              over their immediate environment. A place where we can help each other by simply sharing what we already
              know but also have direct
              control over our social budget.
            </p>
          </div>
        </div>
      </li>

      <!-- MVP -->
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="img-fluid" src="assets/img/roadmap/spec.png" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>
              Q1 2022
            </h4>
            <h4 class="subheading">
              Minimum Viable Product Specification
            </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              The specification for the Minimum Viable Product is complete and we have started building it! The MVP
              platform only has volunteers
              and users, the sponsors will be added in the full version. 
              <!-- See <a href="/blog/mvp">blog post</a>. -->
            </p>
          </div>
        </div>
      </li>

      <!-- MVP Launch -->
      <li>
        <div class="timeline-image"><img class="img-fluid" src="assets/img/roadmap/rocket.png" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>
              Q4 2022
            </h4>
            <h4 class="subheading">
              MVP Launch
            </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We are expecting to launch the MVP version of the application in Bristol (UK) and Nis (Serbia)!
            </p>
          </div>
        </div>
      </li>

      <!-- Full Version -->
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="img-fluid" src="assets/img/roadmap/target.png" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>
              Q1 2023
            </h4>
            <h4 class="subheading">
              Phase Two Expansion
            </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Straight after the MVP launch we will carry on the work on the full platform version. 
              <!-- See <a href="/blog/full">blog post</a>. -->
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>