<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Team</h2>
      <p class="text-muted">
        We are a group of full-time employed young professionals. Our work on this platform happens in our free time and
        is totally voluntary.
        It is our dream that the platform itself is run by part-time volunteers just like the volunteers running
        workshops on the platform.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/mihajlo_milosavljevic.png" alt="..." />
          <h4>Mihajlo Milosavljevic</h4>
          <p class="text-muted">Founder and Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/milosavljevic-mihajlo/" target="_blank" 
            aria-label="Mihajlo Milosavljevic LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/mika018" target="_blank" 
            aria-label="Mihajlo Milosavljevic Github Profile"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/calum_sims.jpg" alt="..." />
          <h4>Calum Sims</h4>
          <p class="text-muted">Co-Founder and Philosopher</p>
          <a class="btn btn-dark btn-social mx-2" href="https://mobile.twitter.com/metalution22" target="_blank" 
            aria-label="Calum Sims Twitter Profile"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/calum-sims-15364b187" target="_blank" 
            aria-label="Calum Sims LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/harry_davies.jpeg" alt="..." />
          <h4>Harry Davies</h4>
          <p class="text-muted">Lead Front-End Developer</p>
          <a class="btn btn-dark btn-social mx-2" href="https://github.com/harryndavies" target="_blank"
            aria-label="Harry Davies Github Profile"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>