<section class="page-section bg-light" id="workshops">
  <div class="container">
    <div>
      <h2 class="section-heading text-uppercase text-center">
        Workshops
      </h2>
      <p class="text-muted text-center">
        We've divided up the volunteering into workshop categories, but feel free to share any 
        knowledge or skills that you have!
      </p>
    </div>
    <div class="d-grid gap-4 mx-auto text-muted">

      <!-- Consultancy -->
      <div>
        <a data-bs-toggle="collapse" href="#consultancy" role="button" aria-expanded="false" aria-controls="consultancy">
          <div class="row workshop">
            <div class="col-10 text-start">
              Consultancy
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-comments"></i>
            </div>
          </div>
        </a>
        <div id="consultancy" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Legal advice</li>
              <li>Tax advice</li>
              <li>Marketing advice</li>
              <li>Academic advice</li>
              <li>Investing advice</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- IT -->
      <div>
        <a data-bs-toggle="collapse" href="#information-technology" role="button" aria-expanded="false" aria-controls="information-technology">
          <div class="row workshop">
            <div class="col-10 text-start">
              Information Technology
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-code"></i>
            </div>
          </div>
        </a>
        <div id="information-technology" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Expert knowledge sharing</li>
              <li>Hardware debug clinic</li>
              <li>Career advice</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Sport -->
      <div>
        <a data-bs-toggle="collapse" href="#sport" role="button" aria-expanded="false" aria-controls="sport">
          <div class="row workshop">
            <div class="col-10 text-start">
              Sport
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-futbol"></i>
            </div>
          </div>
        </a>
        <div id="sport" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Creating a personalised workout routine</li>
              <li>Expert advice from former athletes</li>
              <li>Creating a personalised nutrition plan</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Food -->
      <div>
        <a data-bs-toggle="collapse" href="#food" role="button" aria-expanded="false" aria-controls="food">
          <div class="row workshop">
            <div class="col-10 text-start">
              Food
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-utensils"></i>
            </div>
          </div>
        </a>
        <div id="food" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Technique sharing</li>
              <li>Recipe sharing</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Wellbeing -->
      <div>
        <a data-bs-toggle="collapse" href="#wellbeing-support" role="button" aria-expanded="false" aria-controls="wellbeing-support">
          <div class="row workshop">
            <div class="col-10 text-start">
              Wellbeing Support
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-hand-holding-heart"></i>
            </div>
          </div>
        </a>
        <div id="wellbeing-support" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Free therapy</li>
              <li>Wellbeing workshops</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Skilled Services -->
      <div>
        <a data-bs-toggle="collapse" href="#skilled-services" role="button" aria-expanded="false" aria-controls="skilled-services">
          <div class="row workshop">
            <div class="col-10 text-start">
              Skilled Services
            </div>
            <div class="col-2 text-end">
              <i class="fa-solid fa-toolbox"></i>
            </div>
          </div>
        </a>
        <div id="skilled-services" class="row card collapse">
          <div class="card card-body">
            <ul>
              <li>Car repair advice</li>
              <li>Plumbing advice</li>
              <li>Electric advice</li>
              <li>Grocery shopping for elderly/immobile</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>